.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 80px;

  background: #F8F5F2 url("../background.png");
  background-size: contain;
  background-repeat: no-repeat;
}
