@import 'src/sass/index';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    color: $color-text-primary;
    font-weight: $font-weight-800;
    font-size: $font-size-24;
  }

}

.logo_container {
  display: flex;
  align-items: center;
  gap: 21px;
}
